.header {
  text-align: center;
}

footer {
  font-size: small;
  color: #fff;
  background-color: #38646b;
  display: flex;
  height: 4rem;
  left: 0;
  bottom: 0;
  width: 100vw;
  text-align: center;
  overflow: hidden;
  margin-top: 1rem;
}

.footer-options {
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  padding-inline-start: 20px;
  align-items: center;
}

.footer-link {
  padding: 0 20px;
  list-style: none;
}

.footer-linktext {
  color: white;
}
footer span {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  align-items: center;
}

@media (max-width: 600px) {
  footer {
    flex-wrap: wrap;
    height: 5rem;
  }

  .footer-options {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    padding-inline-start: 0;
    align-items: center;
  }

  footer span {
    width: 100vw;
    flex-direction: column;
    text-align: center;
    align-self: flex-start;
  }
}
